.btn-add, .btn-search, .btn-import {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-family: Product Sans;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    float: right;
    margin-right: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-search {
    width: 150px;
    float: left;
}

.btn-import {
    width: 160px;
}

.btn-add:hover, .btn-search:hover, .btn-import:hover {
    background-color: lightgray;
}

.inventory-listing {
    border-collapse: collapse;
    width: 100%;
    padding-left: 100px;
}

.inventory-listing td, .inventory-listing th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.inventory-listing .report-data {
    text-align: left;
    margin: 0;
}

.inventory-listing th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: black;
    color: white;
}

.inventory-listing button {
    border: none;
    border-radius: 3px;
    margin: 3px 0;
    height: 20px;
    cursor: pointer;
}

.inventory-listing button:hover {
    background-color: #b3b3b3;
}
 
.add-item-window {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0 ,0);
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s;
}

.add-item-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

.btn-close {
    color: #aaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.btn-close:hover, .btn-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.add-item-form {
    padding-left: 12px;
    margin-right: 70px;
}

.add-item-form input[type=text], .add-item-form input[type=number] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 14px;
    box-sizing: border-box;
}

.add-item-form input[type=text]:hover, .add-item-form input[type=number]:hover {
    background-color: #d9d9d9;
}

.add-item-form input[type=submit] {
    width: 35%;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.add-item-form input[type=submit]:hover {
    background-color: #b3b3b3;
}