.report-table {
    border-collapse: collapse;
    width: 63%;
    padding-left: 50px;
    margin-right: 30px;
}

.report-table th, .report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    padding-bottom: 18px;
}

.report-table th {
    width: 28%;
}